.login-details {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fbfbfd; /* Light background color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.login-container {
    background-color: #8b66e8; /* Light purple background */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 320px;
    text-align: center;
}

.login-form h2 {
    color: #fff;
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    color: #ebeef5;
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    outline: none;
    background-color: #ebeef5;
}

.btn {
    padding: 0.75rem 1rem;
    background-color: #5e2ced;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.btn:hover {
    background-color: #fff;
    color: #5e2ced;
}

.text-danger {
    color: red;
    margin-top: 0.5rem;
}
