<nav>
    <div class="nav-links align-items-center">
        <div><img src="assets/Icon.png" alt="" class="img fs-4 ">
            <span class="fs-4 mx-2 mt-3">Stack Underflow</span>
        </div>

        <ul class="d-flex">
            <li class="center" ><a  [routerLink]="['/all']">View All Questions</a></li>
            <li class="center"><a [routerLink]="['/create']">Ask a Question</a></li>
            <li class="center"><a [routerLink]="['/profile']">My Profile</a></li>
        </ul>
    </div>
</nav>