<div class="questions-container" *ngFor="let question of questions">
    <div class="question-summary">
        <div class="question-stats">
            <div class="votes">
                <span class="vote-count">12</span>
                <span class="vote-text">votes</span>
            </div>
            <div class="answers">
                <span class="answer-count">3</span>
                <span class="answer-text">answers</span>
            </div>
            <div class="views">
                <span class="view-count">20</span>
                <span class="view-text">views</span>
            </div>
        </div>

        <div class="question-details">
            <h3 class="question-title"><a [routerLink]="['/single',question.id]">{{question.title}} </a></h3>
            <div class="question-meta">
                <span class="tags"><a href="#" class="tag">{{question.tags}}</a>
                    asked by <a href="#" class="user-name">JohnDoe</a> <span class="time-ago">2 hours ago</span>
                </span>                
            </div>
            
<div>
    
        <div [innerHTML]="question.description"></div>
      

    
</div>